body{
  margin: 0;
  padding: 0;
  background-image: url('./img/GRID.png');

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
/*----------------------------------------N A V B A R-----------------------------------------*/

.nav{
  font-family: Montserrat, sans-serif;
  background-color: #C4C4C4;
  height: 50px;

}

.nav_wrapper{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
}

.nav_list{
  width: 250px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav_list img{
  transform: scale(0.7);
}


.nav_buttons{
  margin-left: 250px;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  display: flex;
}

.nav_buttons img:nth-child(1):hover{
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.nav_buttons img:nth-child(2):hover{
  background: linear-gradient(0deg, #FF7878, #FF7878), linear-gradient(0deg, #FF7878, #FF7878), #FF7878;
  box-shadow: 0px 4px 4px #FF5A5A;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.nav_buttons img:nth-child(3):hover{
  background: #04D019;
  box-shadow: 0px 4px 4px #76E00C;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

/*---------------------------------------------------L E F T B A R---------------------------------------------------------*/

.leftbar{
  background-color: #C4C4C4;
  margin-left: 0;
  max-width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.command_item:nth-child(1){
  margin-top: 58px;
}

.command_item:nth-child(2){
  margin-top: 28px;
}

.command_item:nth-child(3){
  margin-top: 28px;
}

.command_item{
  width: 150px;
  height: 60px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}